<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName>
  </label>
  <button (click)="add(heroName.value);heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor='let hero of heroes'
    [class.selected]='hero.id === selectedId'>
    <!-- *routerLink中使用变量需要使用{{}}，也可以使用"['/guide/detail', hero.id]"(前面的必须写成[routerLink]) -->
    <!-- <a routerLink='/guide/detail/{{hero.id}}'> -->
    <a [routerLink]="['/guide/detail', hero.id]">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<app-messages></app-messages>
