<div [hidden]='submitted' class="container">
  <h1>Hero Form</h1>

  <form [formGroup]='heroForm' (ngSubmit)='onSubmit()'>

    <div class='form-group'>
      <label for="name">Name</label>
      <!-- 可以对比hero-from里面的html看，现在验证已经放在了ts中，跟界面解耦;formControlName是在ReactiveFormsModule中的，需要引入 
        保留required是为了样式 样式需要使用到这个属性
        input属性中不要定义name，否则errors中会找不到该属性值
        [formControl]='name' 跟 formControlName=‘name'等价
      -->
      <input type="text" id='name' class='form-control' [formControl]='name' required>
      <!-- 可以获取formControl控制的值 -->
      {{name.value}}
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
          Name cannot be Bob.
        </div>
      </div>
      <div *ngIf='heroForm.errors?.identifyRevealed && (heroForm.touched || heroForm.dirty)' class='cross-validation-error-message alert alert-danger'>
        Name can not match alter ego.
      </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" id="alterEgo" class="form-control" formControlName='alterEgo'  >
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select id="power" class="form-control" formControlName='power' required>
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type='button' (click)='updateName()'>Update Name</button>
    <!-- form.reset()很关键，否则在清空的时候就会看到错误信息提示；reset可以重新设置pristine -->
    <button type='button' class='btn btn-default' (click)='newHero();heroForm.reset()'>New Hero</button>
    <!-- type='submit' 所以可以触发form上面的ngSubmit -->
    <button type="submit"  [disabled]='!heroForm.valid' class="btn btn-success">Submit</button>
    <div>{{diagnostic}}</div>
  </form>
</div>


<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div>
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div>
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
  </div>
  <div>
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9 pull-left">{{ model.power }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>