<nav>
    <!-- routerLink导航进guide路由；routerLinkActive可以添加css样式（active会高亮） -->
    <a routerLink='/guide' routerLinkActive='active'>Guide</a> 
    <a routerLink='/study' routerLinkActive='active'>Study</a>
    <a routerLink='/animation' routerLinkActive='active'>Animation</a>
    <a [routerLink]='[{outlets: {popup: "compose"}}]' routerLinkActive='active'>ShowCompose</a>
    <a routerLink='./admin' routerLinkActive='active'>Admin</a>
    <a routerLink='./login' routerLinkActive='active'>Login</a>
    <a routerLink='/not-foundxxx' routerLinkActive='active'>PageNotFound</a>
    <!-- <a routerLink=''>Home</a> -->
</nav>
<!-- 可以使用router-outlet是因为RouterModule里面有该组件 -->
<router-outlet></router-outlet>
<router-outlet name='popup'></router-outlet>