<!-- 任何属性都不设置，一开始加载所有tab下的组件 -->
<!-- <mat-tab-group selectedIndex='1'>
    <mat-tab label="dom">
        <app-dom></app-dom>
    </mat-tab>
    <mat-tab label="lifecycle">
        <app-lifecycle>i am ng-content insert in study.component</app-lifecycle>
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<router-outlet></router-outlet>


<!-- 使用radio，通过name进行分组 -->
<!-- <input type="radio" name="sex" [(ngModel)]="sex" value="male">Male
<input type="radio" name="sex" [(ngModel)]="sex" value="female">Female
<button (click)='show()'>show</button> -->


<!-- 占位符号，是ng-container而不是ng-template--ddd -->
<ng-container>ng-container no *ngTemplateOutlet</ng-container>
<ng-container *ngTemplateOutlet="greet">ng-container has *ngTemplateOutlet</ng-container>
<ng-template #greet><div>ng-template has #greet</div></ng-template>
<ng-template [ngIf]='true'><div>ng-template no #, ngIf=true</div></ng-template>
<!-- ng-template默认是不显示出来的，类似ngIf=false -->
<ng-template><div>ng-template no #, no ngIf</div></ng-template>
