/* You can add global styles to this file, and also import other style files */
/* 不会自动加上cssmodule的限制，在其他组件css中添加会显示（让这个css唯一化，避免冲突） */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body,
input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}

/* ever
body { margin: 0; }
ywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}